html{ margin: 0px;
height: 100%;}

:root {
    --13-a-8-dc: #13a8dc;
    --941-c-2-f: #941c2f;
    --title: #1b998b;
    --dropdown-background: #4a525a;
    --2374-ab: #2374ab;
    --ff-8484: #ff8484;
    --calorie-background: #abdcd6;
    --011-c-27: #011c27;
    --d-88-c-9-a: #d88c9a;
    --000000: #000000;
    --ff-0505: #ff0505;
    --2-b-7-a-9-c: #2b7a9c;
    --number-background: #d4eaf2;
    --707070: #707070;
    --primary-background: #fff4e5;
    --primary-button: #31b156;
    --ffffff: #ffffff;
    --brand-name-style-sansita-swashed-71-pt-family: Sansita Swashed;
    --brand-name-style-sansita-swashed-71-pt-weight: Regular;
    --title-style-segoe-ui-103-pt-family: Segoe UI;
    --title-style-segoe-ui-103-pt-weight: Regular;
    --log-in-style-segoe-ui-39-pt-family: Segoe UI;
    --log-in-style-segoe-ui-39-pt-weight: Regular;
    --cb-style-segoe-ui-41-pt-family: Segoe UI;
    --cb-style-segoe-ui-41-pt-weight: Bold;
    --sign-up-style-segoe-ui-41-pt-family: Segoe UI;
    --sign-up-style-segoe-ui-41-pt-weight: Bold;
    --brand-name-style-sansita-swashed-71-pt-size: 71rem;
    --title-style-segoe-ui-103-pt-size: 103rem;
    --log-in-style-segoe-ui-39-pt-size: 39rem;
    --cb-style-segoe-ui-41-pt-size: 41rem;
    --sign-up-style-segoe-ui-41-pt-size: 41rem;
  }
  
body{
    margin: 0px;
    background-color:var(--primary-background);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: border-box;
    height: 100%;
    /* overflow: hidden; */
}
.auto{
height: auto;
}
.visibilityoff{
    display:none;
}
.container{
   display: grid;
   height: 100%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   grid: [row1] "header header header header header header" .7fr [row1end]
   [row2] "main main main main main main" 1fr [row2end] 
   [row3] "main main main main main main" 1fr [row3end] 
   [row4] "main main main main main main" 1fr [row4end] 
   [row5] "footer footer footer footer footer footer" .4fr [row5end] 
   / 1fr ;   
}

header{
    grid-area: header;
    border-style: none none solid none ;
    border-color: rgb(189, 189, 189);
    background-color: var(--primary-background);
   
}


header nav{
position: relative;
/* padding-left: 131px; */
height:100%;
width:100%;

}
header input.search{
width:600px;
height:40px;
}
header img#magni {
    position: relative;
    padding-left: 7vw;
    height: 3.3vw;
    width: 3.3vw;
    top:2.7vw;
}
header .company_name{
    
    position :absolute;
    left:40%;
    color: #2B7A9C;
    font-family: Sansita Swashed;
      top:20%;
   
    font-size: clamp(2rem, 3.5vw, 4.5rem);
}

header .profile.login{
   
}
#securitysvg{
    display: none;
}
.arrow-pointer {
    width: 250px;
    height: 50px;
    background: #32557f;
    display: block;
    position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-size: 38px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-indent: 35px;
  }

  .arrow-pointer:before {
    content: '';
    position: absolute;
    right: -40px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 40px solid #32557f;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }
.smallarrow{
    width: 57px;
    height: 50px;
    background: #32557f;
    border-color: #a30000;
    border: #a30000;
       
    position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(85, 38, 38);
  font-size: 38px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-indent: 35px;
}
.smallarrow:before {
    content: '';
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 40px solid #32557f;
    border-top: 25px solid rgb(252, 197, 197);
    border-bottom: 25px solid white;
  }
.smallarrow:after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; width: 0; height: 0;
    border-left: 25px solid rgb(255, 255, 255);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-style: solid;
  }
#registrationbtns{
    position: relative;
    float: right;
    top:2.5vw;
}
a.navitems{
 text-decoration: none;
 margin-right: 6vw;
}
.navitems.signup{
    color:var(--title) ;
    font-size: 2.4vw;
    font-weight: bold;
    /* padding-right: 146px; */
    font-family: var(--sign-up-style-segoe-ui-41-pt-family);
}
.navitems.login{
    color:#011C27 ;
    font-size: 2.2vw;
    
    font-family: var(--sign-up-style-segoe-ui-41-pt-family);
}
input.search{
    display: none ;
}
.loadedprofile{
    display: none;
    position: relative;

}
p.loadedprofile{
    display: inline;
    position: relative;

}
#logout{
    display: inline;
   top: 3.8vw;
}
h2.loadedprofile{
    margin-right: 70px;
    display:inline !important;
    bottom:2.0vh;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 350;
    font-size: 1.8vw;
}
h2 a{
    text-decoration: none;
}
img.loadedprofile{
    border-radius: 50%;
    display: inline !important; 
}

.s{
    display: inline;
    position: relative;
    float:right;
     top:20px; 
}
#registration{
    display: none;
    background-color: #FFFF;
    padding: 10px 100px;
}
main.regis{
    padding-left: 24px;
    grid-template-columns: 1fr 2fr;
}
main.home{
   
}
div.login{
    display: none;
    max-height: 653px;
   
    max-width:581px;
    
    padding: 30px;
  position: absolute;
  top:35%;
  left: 60%;
    background-color: rgb(255, 255, 255);
    
}
#bannerimg{
    height: 60%;
    width:100%;
}
div.signup{
    display: none;
    max-height: 653px;
   
    max-width:581px;
  
    padding: 30px;
  position: absolute;
    background-color: rgb(255, 255, 255);
    
}
#spart1{

}
#spart2{
    display:none;
}
#spart3{
    display:none;
}
#signupbtn{
    margin-top: 50px;
   width: 200px;
   height: 100px;
}
p.signup{
    display: inline;
}
input[aria-invalid="true"], textarea[aria-invalid="true"] {
    border: 1px solid #f00;
    box-shadow: 0 0 4px 0 #f00;
  }

   input:invalid:required {
        
      }

.xbutton{
    display: none;
    position: absolute;
    top:20%;
    left: 20%;
    height: 15px;
    background-color: white;
    z-index: 2;
    
    
}
input{
	text-indent: 5px;
}
#signupsvg{
	margin: 2.4vw 0;
}
/*
 
                   _                         _        _                 
   _ __ ___   __ _(_)_ __     ___ ___  _ __ | |_ __ _(_)_ __   ___ _ __ 
  | '_ ` _ \ / _` | | '_ \   / __/ _ \| '_ \| __/ _` | | '_ \ / _ \ '__|
  | | | | | | (_| | | | | | | (_| (_) | | | | || (_| | | | | |  __/ |   
  |_| |_| |_|\__,_|_|_| |_|  \___\___/|_| |_|\__\__,_|_|_| |_|\___|_|   
                                                                        
 
*/
main{
    grid-area: main;
    display: grid;
    grid: [row1] "title calinfo" 1fr [row1end]
          [row2] "input calinfo"  1fr [row2end] 
          [row3] "input calinfo"  1fr [row3end] 
    / 1fr 0.75fr;   
    padding-left: 7%;
}
.websitetitle{
    grid-area: title;
}
 h1.websitename{
   color:var(--title);
   font-family: var(--title-style-segoe-ui-103-pt-family);
   font-weight: normal;
   font-size: 6vw;
 }
#inputsection{
    grid-area: input;
}
.closeinputsec{
    border: none;
    background: none;
    margin-left: -30px;
    margin-top: -5px;
    margin-bottom: 15px;
}
p#goback {
    color:white;
    margin-top:-58px;
    margin-left: 54px;
  }
select#foodlist,select#foodlistformeal{
   padding-left: 20px;
    background-color: var(--dropdown-background);
    color: var(--primary-background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 38vw;
    height: 5.2vw;
    font-size: 3.7vw;
}

.x287{
    background-color: var(--number-background);
    border-color: #707070;
    height: 4.9vw;
    width: 90px;
    position: relative;
    top: -.4vw;
    font-size: 39px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.x287.mobile{
    display: none;
}
.primarybtn{
    padding:1.2vw;
    width: 17vw;
    text-decoration: none;
    border-color: rgb(118, 118, 118);
    border-radius: 200px;
    border-style: none;
    
    font-size: 39px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-button);
}
.buttonone:focus{
    outline-style: none;
}


.marginreduc{
    margin-bottom: 1.4vw;
}
#cfood{
    display: none;
}

#togglemicro,#serving_type{
 background-color: var(--primary-background);
}
.flexrow{
    display:flex;
}
.foodadder {
    border-radius: 4px;
}
.labelinput label{
color: var(--primary-background);
}
.labelinput{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
#dietlist{
    display: none;
}  
#viewfood{
    display: none;
}
.stripedbackground{
    border-radius: 40px;
 /* display: none; */
 box-sizing: border-box;
 background-image: url("../images/stripees.png");
 background-color: #4F4F4F;
 padding: 55px;
 padding-top: 40px;
 margin-bottom: 30px;
 width: 830px;
 height:auto;
 min-height: 360px;
}
#servingchange{
/* id that used to contain stripedbackground*/
 display: none;
}
#scfoodinfo{
  /* id that used to contain coloredinputbckground */
}
.coloredinputbckground{
    background-color: var(--primary-background);
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: 1.3vw;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
.scinputs{
    box-sizing: border-box;
height: 38px;
font-size: 0.9vw;
border-radius: 5px;
}
.inputssecbtn {
background-color: var(--title);
color: var(--primary-background);
border-color: var(--title);
}
select.scinputs {
    background-color: var(--primary-background);
    border-color: var(--title);
    }
#foodimg{
    height: 200px;
}
#tablesearch *{
height:25px;
/*border-radius: 4px  ; 10px for search  200px width*/
/* background-color: #E4E4E4; */
}
#tablesearch :nth-child(n+3){
 float:right;
 margin-right: 30px;
    }
#tablesearch{
    width:40.5vw;
    padding-right: 13vw;
    box-sizing: border-box;
    }
#dietlistul th{
    background-color: white;
}
#dietlistul{
    height: 100px;
    overflow-y: scroll;
}
#tablesearch{
    background-color: white;
    margin-bottom: 10px;
}
table{
    border: solid 1px;
    border-collapse: collapse;
    text-align: center;
    text-indent: 5%;
    white-space:nowrap;
}
td,th{
    border: solid 1px;
    border-collapse: collapse;
}
.fakerow{
    height:20px;
}
.daysummarycalinfo{

}
.daysummarycalinfo td{
 padding:15px;
 padding-bottom: 0.4vw;
 padding-top: 1.1vw;
 padding-right: 1.8vw;
 background-color: white;
}
.tableitemscalinfo{
    background-color: #CCCCCC;
}


#calorie_info{
    grid-area: calinfo;
    display: grid;
    grid: [row1] "bar" 1fr [row1end]
          [row2] "bar"  1fr [row2end] 
          [row3] "info"  1fr [row3end] 
    / auto ;   
     background-color: var(--calorie-background);
}

/*
 
             _   _        __               _         _                        
    ___ __ _| | (_)_ __  / _| ___     __ _(_)_ __ __| |   __ _ _ __ ___  __ _ 
   / __/ _` | | | | '_ \| |_ / _ \   / _` | | '__/ _` |  / _` | '__/ _ \/ _` |
  | (_| (_| | | | | | | |  _| (_) | | (_| | | | | (_| | | (_| | | |  __/ (_| |
   \___\__,_|_| |_|_| |_|_|  \___/   \__, |_|_|  \__,_|  \__,_|_|  \___|\__,_|
                                     |___/                                    
 
*/
#canvas{
    grid-area: bar;
   padding: 0;
   max-width: 22vw;
    max-height: 22vw;
} 
#myCanvas{
    
    
    display: none !important;
    position: absolute;
    width: 200px;
    height: 200px ;
    top: 20%;
    left: 70%;
   
}
#myCanvas.showcircle{
display: block !important;
}

#calorie_breakdown{
    grid-area: info;
    border-style: solid;
    border-width: 0.11vw;
    border-color: #707070;
    border-bottom-width:0;
    background-color: var(--primary-background);
    text-align: center;
    font-weight: bold;
    font-size: 1.45vw;
}



footer{
    grid-area: footer;
    background-color: #444141;
    

}
footer nav{
  margin-top: 1.1vw;
}
footer a{
    margin-left: 2.4vw;
    display: inline;
    text-decoration: none;
    font-weight: bold;
    color:var(--primary-background);
    font-size: 1.6vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.alert-container{
    z-index: 23;
 position: absolute;
 top:100px;
 left:50px;
}
/* gotta remove and fix */
::-webkit-scrollbar {
    display: none;
}


/*
 
       _           _                      _    __              _  ___   ___   ___        
    __| | ___  ___(_) __ _ _ __   ___  __| |  / _| ___  _ __  / |/ _ \ ( _ ) / _ \ _ __  
   / _` |/ _ \/ __| |/ _` | '_ \ / _ \/ _` | | |_ / _ \| '__| | | | | |/ _ \| | | | '_ \ 
  | (_| |  __/\__ \ | (_| | | | |  __/ (_| | |  _| (_) | |    | | |_| | (_) | |_| | |_) |
   \__,_|\___||___/_|\__, |_| |_|\___|\__,_| |_|  \___/|_|    |_|\___/ \___/ \___/| .__/ 
                     |___/                                                        |_|    
 
*/
@media only screen and (max-width: 1600px) and (min-width:1201px){
    
    .container{
        display:grid;
        grid: [row1] "header header header header header header" .4fr [row1end]
        [row2] "main main main main main main" 1fr [row2end] 
        [row3] "main main main main main main" 1fr [row3end] 
        [row4] "main main main main main main" 1fr [row4end] 
        [row5] "footer footer footer footer footer footer" .4fr [row5end] 
        / 1fr ;   
     }
    .stripedbackground{

     width: clamp(300px,80vh,820px);
    }
}







/* anything betw3een 1200 to 601px is a lost land have no clue when going to get to it */


   /*

       _           _                      _    __              _       _                             
    __| | ___  ___(_) __ _ _ __   ___  __| |  / _| ___  _ __  (_)_ __ | |__   ___  _ __   ___  __  __
   / _` |/ _ \/ __| |/ _` | '_ \ / _ \/ _` | | |_ / _ \| '__| | | '_ \| '_ \ / _ \| '_ \ / _ \ \ \/ /
  | (_| |  __/\__ \ | (_| | | | |  __/ (_| | |  _| (_) | |    | | |_) | | | | (_) | | | |  __/  >  < 
   \__,_|\___||___/_|\__, |_| |_|\___|\__,_| |_|  \___/|_|    |_| .__/|_| |_|\___/|_| |_|\___| /_/\_\
                     |___/                                      |_|                                  
 
*/
/* there shouldnt be any thing beyond 500px if i being real */
@media only screen and (max-width: 600px ){
   
    .container{
        display: grid;
        height: 100%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        grid: [row1] "header header header header header header" .6fr [row1end]
        [row2] "main main main main main main" 1fr [row2end] 
        [row3] "main main main main main main" 1fr [row3end] 
        [row4] "main main main main main main" 1fr [row4end] 
        [row5] "footer footer footer footer footer footer" clamp(50px,12vh,105px) [row5end] 
        / 1fr ;   
     }
      .container{
          height: auto;
      }
      nav{
          width: 100%;
          overflow-x: scroll;
      }
    header img#magni{
        position: relative;
        padding-left: 31px;
        height: 57px;
        width: 57px;
        top:40px;
    }
    header .company_name{
        position :absolute;
        left:30%;
          top:20%;
        /* font-size: 8vw; */
    }
    header .profile.login{
    
    }
    
    
    #registrationbtns{
        position: relative;
        top:20%;
    }
    a.navitems{
     text-decoration: none;
     margin-right: 10vw;
    }
    .navitems.signup{
        font-size: 6vw;
        /* padding-right: 146px; */
        margin-left: 48vw;
        margin-right: 23px;
    }
    .navitems.login{
        font-size: 5vw;

    }
    .loadedprofile{
        display: none;
        top:18%;
        border-radius: 50%;
    width: 70px;
    height: 70px;
    }
    
    .s{
        display: inline;
        position: relative;
        float:right;
        top:20px;
    }
    #registration{
        display: none;
        padding: initial;
        height: 350px;
        background-color: var(--dropdown-backgroundz);
    }
    main.regis{
        padding-left: 15px;
        grid-template-columns: 1fr;
    }
    main.home{
       
    }
    div.login{
        max-height: 653px;
        max-width:581px;
        padding: 30px;
        left:initial;
      position: absolute;
        
    }
    div.signup{
        max-height: 653px;
        max-width:581px;
        padding: 30px;
      position: absolute;
        
    }

    .xbutton{
        display: none;
        position: absolute;
        top:20%;
        left: 20%;
        height: 15px;   
    }
    /*
    
                       _                         _        _                 
       _ __ ___   __ _(_)_ __     ___ ___  _ __ | |_ __ _(_)_ __   ___ _ __ 
      | '_ ` _ \ / _` | | '_ \   / __/ _ \| '_ \| __/ _` | | '_ \ / _ \ '__|
      | | | | | | (_| | | | | | | (_| (_) | | | | || (_| | | | | |  __/ |   
      |_| |_| |_|\__,_|_|_| |_|  \___\___/|_| |_|\__\__,_|_|_| |_|\___|_|   
                                                                            
    
    */
    main{
        display: grid;
         /*width: 315px; remove */
        grid: [row1] "title" 0.1fr [row1end]
              [row2] "input"  auto [row2end] 
              [row3] "calinfo"  1fr [row3end] 
        / 1fr;   
        padding-left: clamp(5px,3vw,25px);
    }
    .websitetitle{

    }
     h1.websitename{
       font-size: 7vw;
     }
    #inputsection{
        background-color: var(--dropdown-background);
        border-radius: 25px;
        width: clamp(25px,86vw,380px)
    }
   #inputsection br{
        display: none;
    }
    #inputsectiontwo{
        padding-bottom: 20px;
        padding-left: 10px;
    }
    select#foodlist,select#foodlistformeal{
       padding-left: 5px;
        width: clamp(2px,70vw,340px);
        border: none;
        border-color: aqua;
        border-radius: 10px;
        height: 89px;
        margin-left: 15px;
        font-size: 27px;
    }
    select#foodlist:focus {
       outline-style:none;
       border-color: transparent;
      }
    .x287{
        height: 60px;
        width: 40px;
        position: relative;
        color:var(--primary-background);
        background-color: var(--dropdown-background);
       display: none;
       border: none;
        font-size: 39px;
        text-align: center;
    }
    
    .x287.mobile{
        display: inline;
        
    }
    .buttonone{
        padding:20px;
        width: 139px;
        margin-top: 10px;
        border-radius: 100px;
        font-size: 19px;
    }
    .primarybtn{
        padding:10px;
        width: clamp(90px,65vw,220px);
        text-decoration: none;
        border-color: rgb(118, 118, 118);
        border-radius: 200px;
        border-style: none;
        font-size: clamp(5px,12vw,39px);;
        color:var(--title);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: var(--primary-background);
    }
    .primarybtn:nth-of-type(2){
      display: none;
    }
    .buttonone:focus{
    }
    .secondarybtn{
        padding: 7px 23px 7px 23px;
        margin-top: 20px;
        border-radius:60px;
        border-width:2px;

    }
    .secondarybtn ~ .secondarybtn{
        margin-top: 9px;

    }
    
.marginreduc{
    margin-bottom: revert;
}
.flexrow{
    display:block;
}
.labelinput{
    flex-direction: column; /* FIXME: notdone */
    
    margin-right: 40px;
}
.stripedbackground{
    border-radius: 40px;
 background-image: url("../images/stripees.png");
 padding: 36px;
 padding-top: 40px;

 width: 90vw;
 height:auto;
}
.coloredinputbckground{
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: 4.3vw;
    padding-left: 10px;
    padding-right: 10px;
}
.scinputs{
    box-sizing: border-box;
height: 38px;
font-size: 5.9vw;
border-radius: 5px;
}
#foodimg{
    height: 80px;
}
    #calorie_info{
        width:clamp(2px,90vw,450px);
        grid: [row1] "bar" 1.8fr [row1end]
              [row2] "info"  0.6fr [row2end] 
        / auto ;   
        margin:160px 0 20px 0;
    }
    
    /*
    
                 _   _        __               _         _                        
        ___ __ _| | (_)_ __  / _| ___     __ _(_)_ __ __| |   __ _ _ __ ___  __ _ 
       / __/ _` | | | | '_ \| |_ / _ \   / _` | | '__/ _` |  / _` | '__/ _ \/ _` |
      | (_| (_| | | | | | | |  _| (_) | | (_| | | | | (_| | | (_| | | |  __/ (_| |
       \___\__,_|_| |_|_| |_|_|  \___/   \__, |_|_|  \__,_|  \__,_|_|  \___|\__,_|
                                         |___/                                    
    
    */
    #canvas{
       padding: 0;
       max-width: clamp(100px,77vw,400px);
        max-height:clamp(100px,77vw,400px);
    } 
   .center {
        display:grid;
        margin:auto;
      }
    #myCanvas{
        
        
        display: none;
        position: relative;
        width: 200px;
        height: 200px ;
        top:0px;
        padding-top: clamp(1%,0.09vh,10%);
        left: initial;
    
    }
    
    #calorie_breakdown{
        border-style: solid;
        border-color: #707070;
        border-width: 4px 2px 2px 2px;
        border-radius: 0px 0 7px 7px;
        text-align: center;
        font-weight: bold;
        background-color: white;
        font-size: 5vw;
    }
    
    
    
    footer{
    }
    footer a{
        margin-left: 2.4vw;
        display: inline;
        text-decoration: none;
        font-weight: bold;
        color:var(--primary-background);
        font-size: 5.6vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
} 
