<div id="canvas"><canvas id="myCanvas" width="150px" height="150px">
    Your browser does not support the HTML5 canvas tag.</canvas>  </div>
    
  <section id="calorie_breakdown">
   <div>  <p id="total_output">loading</p>
  <p id="goal_txt"> Calorie Goal is </p>  <p id="goal_output">loading</p> </div> 
    
  </section>