<Section id="cfood" class="stripedbackground">  
    <%- include('closeinputsection.ejs'); %>
<form action="/foods/addfood" method="POST" enctype="multipart/form-data"> 
    <div class="flexrow"> 
        <div class="labelinput">    
            <label class="foodadderlabel"> Food Name</label> 
            <input class="foodadder" name="name" type="text" placeholder="name" required>
         </div>
    </div>
    <div class="flexrow"> 
        <div class="labelinput">    
            <label for="calories" class="foodadderlabel"> Calories</label>  
            <input class="foodadder" name="calories" type="number" placeholder="calories" required>
         </div>
         <div class="labelinput">    
            <label class="foodadderlabel"> Fats</label>
             <input class="foodadder" name="fats" type="number" step=".01" placeholder="fats" required>
         </div>
 
  
        <div class="labelinput">    
            <label class="foodadderlabel"> carbs</label> 
            <input class="foodadder" name="carbs" type="number" step=".01" placeholder="carbs" required>
         </div>
         </div>
  <div class="flexrow"> 
        <div class="labelinput">    
            <label class="foodadderlabel"> cholestrol</label> 
            <input class="foodadder" name="cholestrol" type="number" placeholder="cholestrol">
         </div>
         <div class="labelinput">    
            <label class="foodadderlabel"> protein</label> 
            <input class="foodadder" name="protein" type="number" step=".01" placeholder="protein" required>
         </div>

         <div class="labelinput">    
            <label class="foodadderlabel"> serving size</label> 
            <input class="foodadder" name="serving_size" type="text" placeholder="serving_size" required>
         </div>
         <select class="foodadder" name="serving_type"id="serving_type"> 
            <option value="g">grams</option>
            <option value="mg">mg</option>
            <option>item</option>
            </select>
        </div>
            <section id="micro_nutrients" class="visibilityoff">
                <section id="vitamins">  
                    <input class="foodadder micronutrients" name="VitaminA" type="number" placeholder="Vitamin A">
                    <input class="foodadder micronutrients" name="VitaminC" type="number" placeholder="Vitamin C">
                    <input class="foodadder micronutrients" name="VitaminD" type="number" placeholder="Vitamin D">
                    <input class="foodadder micronutrients" name="VitaminE" type="number" placeholder="Vitamin E">
                    <input class="foodadder micronutrients" name="VitaminK" type="number" placeholder="Vitamin K">
                    <input class="foodadder micronutrients" name="VitaminB1" type="number" placeholder="Vitamin B1">
                    <input class="foodadder micronutrients" name="VitaminB2" type="number" placeholder="Vitamin B2">
                    <input class="foodadder micronutrients" name="VitaminB3" type="number" placeholder="Vitamin B3">
                    <input class="foodadder micronutrients" name="VitaminB5" type="number" placeholder="Vitamin B5">
                    <input class="foodadder micronutrients" name="VitaminB6" type="number" placeholder="Vitamin B6">
                    <input class="foodadder micronutrients" name="VitaminB7" type="number" placeholder="Vitamin B7">
                    <input class="foodadder micronutrients" name="VitaminB9" type="number" placeholder="Vitamin B9">
                    <input class="foodadder micronutrients" name="VitaminB12" type="number" placeholder="Vitamin B12">
                </section>
                <section id="minerals"> 
                    <section id="trace minerals">
                        <input class="foodadder micronutrients" name="Iron" type="number" placeholder="Iron">
                        <input class="foodadder micronutrients" name="Maganese" type="number" placeholder="Maganese">
                        <input class="foodadder micronutrients" name="Copper" type="number" placeholder="Copper">
                        <input class="foodadder micronutrients" name="Zinc" type="number" placeholder="Zinc">
                        <input class="foodadder micronutrients" name="Iodine" type="number" placeholder="Iodine">
                        <input class="foodadder micronutrients" name="Fluoride" type="number" placeholder="Fluoride">
                        <input class="foodadder micronutrients" name="Selenium" type="number" placeholder="Selenium">
                    </section>
                    <section id="macro minerals"> 
                    <div class="labelinput">    
                        <label class="foodadderlabel"> calories</label> 
                        <input class="foodadder" name="Potassium" type="number" placeholder="Potassium" >
                     </div>
                     <br>
                     <div class="labelinput">    
                        <label class="foodadderlabel"> calories</label> 
                        <input class="foodadder" name="Sodium" type="number" placeholder="sodium" >
                     </div>
                     <input class="foodadder micronutrients" name="Calcium" type="number" placeholder="Calcium" >
                     <input class="foodadder micronutrients" name="Magnesium" type="number" placeholder="Magnesium">
                     <input class="foodadder micronutrients" name="Phosphorus" type="number" placeholder="Phosphorus">
                     <input class="foodadder micronutrients" name="Chloride" type="number" placeholder="Chloride">
                     <input class="foodadder micronutrients" name="Sulfur" type="number" placeholder="Sulfer">
                    </section>
                </section>
            </section>
    
            <button id="togglemicro" class="foodadder" type="button" onclick="toggleelement('micro_nutrients')"> Toggle Micro Nutrients</button>
            <label>Place image for food</label>
            <input type="file" name="image" accept="image/*" required /> <!-- image/png, image/gif, image/jpeg -->
             <button onclick="changemain('createmeal')"> create meal</button>

        <button class="inputssecbtn foodadder" type="submit">   add food</button>
        </form> 
    </Section>