<!-- <button onclick="consumption('breadstick')"> eat a breadstick</button> -->
<section id="inputsectiontwo">  
<select name="foodlist" id="foodlist">
    <option value="">loading</option>
    </select>
 <input type="number" min="0" value=1 class="x287">
 <!-- <button onclick="consumption('chicken_nugget')"> eat a chicken nugget</button>
 <button onclick="consumption('spicy_hotdogg')"> spicy hotdogg</button>
<button onclick="consumption('flat_egg')"> flat egg</button>
<button onclick="consumption('dab_of_ketchup')"> dab of ketchup</button>
<button onclick="consumption('dab of ketchsup')"> dab of kewdtchup</button>
<button onclick="consumption('chicken')"> chicken</button>
<button onclick="consumption('chips')">chips</button> -->
 <br/>
<button class="input primarybtn" onclick="addfood()"> Add items</button> 
<input type="number" min="0" value=1 class="x287 mobile">
<button class="input primarybtn" onclick="clearlist()"> clear</button>
<% if(!user) {%>
    <% }else{ %>
        <button type="button" class="secondarybtn" onclick="changemain('createfood')"> create food    </button>
        <button type="button" class="secondarybtn" onclick="storediet();"> store diet    </button>
        <button type="button" class="secondarybtn" onclick="loaddiet();"> load diet    </button>
        <button type="button" class="secondarybtn" onclick="viewfood();"> viewfood  </button>
        <button type="button" class="secondarybtn" onclick="servingchange();"> change serving size  </button>
        <% }%>
    </section>