<!-- <button onclick="consumption('breadstick')"> eat a breadstick</button> -->
<section id="inputsectiontwo">  

<a href="/carryoutstudy">Complete study</a>
<% if(!user) {%>
    <% }else{ %>
        <button type="button" class="secondarybtn" onclick="changemain('createfood')"> create food    </button>
        <button type="button" class="secondarybtn" onclick="storediet();"> store diet    </button>
        <button type="button" class="secondarybtn" onclick="loaddiet();"> load diet    </button>
        <button type="button" class="secondarybtn" onclick="viewfood();"> viewfood  </button>
        <button type="button" class="secondarybtn" onclick="servingchange();"> change serving size  </button>
        <% }%>
    </section>