
<div class="s" onclick="loadprofile()">
         <img src="../images/download.jpg" alt="profile pic" class="loadedprofile">
         <p class="loadedprofile"> 
            <%=user.fname%> <%=user.lname%> 
         </p>
         </div>
         <div class="s" id="logout"> <h2 class="loadedprofile"> <a href="/users/logout"> Logout</a></h2></div>