<form action ="/users/logout" method="GET"> 
    <button type="submit">Logout</button>
    </form>
      <div class="login">
        <button id="xbutton"class="login"class="xbutton" onclick="closel()">X </button>
          <form action ="/users/login" method="POST" onsubmit="login();"> 
           <b>  Log in </b> 
            <br/>
            <input type="text" class="login" placeholder="email" name="email" required>
              <br/>
              <br/>
            <input type="password" class="login" placeholder="Password" name="password" required>
            <br/>
            <button type="submit">Log in</button>
            <a href="#" class="login"> forgot password </a>
          </form>
    </div>
          <!-- <button id="xbutton"class="login"class="xbutton" onclick="closel()">X </button>
           <input type="text" class="login">
         </br></br>
          <input type="password" class="login">
         </br>
         <div> <input type="checkbox" class="login"> <p class="login"> remember me</p>  <a href="#" class="login"> forgot password </a></div>
           <button class="login" onclick="login()"> Login</button>  -->

        <div class="signup">
            Create Account
            <button id="xbutton"class="signup"class="xbutton" onclick="closel()">X </button>
            <!-- <div class="arrow-pointer">Basic info </div>  -->
			<br>
<div id="signupsvg">
            <svg id="basicinfosvg" xmlns="http://www.w3.org/2000/svg" width="318.746" height="58" viewBox="0 0 318.746 58">
              <rect id="Rectangle_17" data-name="Rectangle 17" width="272" height="57" transform="translate(0 0.5)" fill="#d588e9"/>
              <path id="Polygon_1" data-name="Polygon 1" d="M29,0,58,47.747H0Z" transform="translate(318.746) rotate(90)" fill="#d588e9"/>
              <text id="Basic_info" data-name="Basic info" transform="translate(113 44.5)" fill="#fff" font-size="38" font-family="SegoeUI, Segoe UI"><tspan x="-79.637" y="0">Basic info</tspan></text>
            </svg>
            
            <svg onclick="changescreen(1)" xmlns="http://www.w3.org/2000/svg" width="78.554" height="58.446" viewBox="0 0 78.554 58.446">
              <path id="Path_3" data-name="Path 3" d="M8328.019,8559l24.562-28.232s-25.527-28.476-25.854-28.985,50.4,0,50.4,0L8404.073,8530l-27.8,29Z" transform="translate(-8326.212 -8501.054)" fill="none" stroke="#d588e9" stroke-width="1"/>
            </svg> 
            <svg id="securitysvg" xmlns="http://www.w3.org/2000/svg" width="320.257" height="61.129" viewBox="0 0 320.257 61.129">
              <rect id="Rectangle_17" data-name="Rectangle 17" width="272" height="57" transform="translate(0.511 0.577)" fill="#d588e9"/>
              <path id="Polygon_1" data-name="Polygon 1" d="M28.5,0,57,48H0Z" transform="translate(320.257 0.577) rotate(90)" fill="#d588e9"/>
              <text id="Security" transform="translate(114.51 42.377)" fill="#fff" font-size="38" font-family="SegoeUI, Segoe UI"><tspan x="-66.398" y="0">Security</tspan></text>
              <path id="Path_6" data-name="Path 6" d="M12558.253,8861.645l-.49-58.436,25.423,30Z" transform="translate(-12557.251 -8801.832)" fill="#d588e9" stroke="#d588e9" stroke-width="1" style="mix-blend-mode: color-dodge;isolation: isolate"/>
            </svg>
            
            
             <svg xmlns="http://www.w3.org/2000/svg" width="79.403" height="59.335" viewBox="0 0 79.403 59.335">
              <path id="Polygon_7" data-name="Polygon 7" d="M28.75,0,57.5,27.422H0Z" transform="translate(79.403 1.835) rotate(90)" fill="#d588e9"/>
              <rect id="Rectangle_20" data-name="Rectangle 20" width="50" height="57.5" transform="translate(1.981 1.834)" fill="#d588e9"/>
              <path id="Polygon_6" data-name="Polygon 6" d="M29,0l29,25.348H0Z" transform="translate(25.344) rotate(89)" fill="#d588e9" style="mix-blend-mode: color-dodge;isolation: isolate"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="78.554" height="58.446" viewBox="0 0 78.554 58.446">
              <path id="Path_3" data-name="Path 3" d="M8328.019,8559l24.562-28.232s-25.527-28.476-25.854-28.985,50.4,0,50.4,0L8404.073,8530l-27.8,29Z" transform="translate(-8326.212 -8501.054)" fill="none" stroke="#d588e9" stroke-width="1"/>
            </svg> 
			</div>
              <form action ="/users/register" method="POST" onsubmit="()=>{return signuphandler('form')}">
                <section id="spart1" class="signupparts"> 
                  <input type="text" class="signup" placeholder="firstname" name="fname"  required >
                </br></br>
                 <input type="text" class="signup"placeholder="lastname" name="lname"    >
                </br></br>
                <input type="email" class="signup"placeholder="Email" name="Email" pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$" required>
              &nbsp; <p class="error signuperr" style="display: inline;"> please enter a valid email </p>
              </section>
                <section id="spart2" class="signupparts"> 
                  <input type="number" class="signup" placeholder="permission" pattern="[0-9\/]*" required>
            </br></br>
            <input type="password" class="signup" placeholder="Password" name="Password" pattern="^([- \w\d\u00c0-\u024f]+)$" required>
            </br></br>
            
            <input type="password" class="signup" placeholder="confirm Password" pattern="^([- \w\d\u00c0-\u024f]+)$" required>
                </section>
            <section id="spart3" class="signupparts"> 
                <input type="text" class="signup" placeholder="usertype" name="role" optional>
                </br></br>
                <input type="text" class="signup" placeholder="Username" name="username" required>
                </br></br>
                <input type="text" class="signup" placeholder="Enter any allergies if apply"  optional> 
              </br></br>
                <input type="password" placeholder="leave blank" class="signup" optional> <br/>
                <input type="hidden" id="regform" name="regform" class="signup">
                <input type="checkbox" class="signup"> <p class="signup"> remember me</p> 
                         </section> 
                         <button class="signup primarybtn" type="button" id="signupbtn" onclick="return signuphandler('button');">Next</button>
              </form>
             
             
               </div>
               