<section id="servingchange" class="stripedbackground ">
  <%- include('closeinputsection.ejs'); %>
<div id="scfoodinfo" class="coloredinputbckground">

</div> <br>
<input id="scserving" class="scinputs">   <select class="scinputs" name="serving_type"id="scserving_type"> 
  <option value="g">grams</option>
  <option value="mg">mg</option>
  <option>item</option>
  </select>
  <button class="scinputs inputssecbtn" type="button" onclick="changeserving();"> change</button>
</section>