<section id="viewfood" class="stripedbackground">
     <%- include('closeinputsection.ejs'); %>
     <div id="viewfoodtxt" class="coloredinputbckground">   </div>   <br>
<img id="foodimg" alt="picture of food" >   

</section>